html,body,h1,a,p,li,header,nav,center{
	line-height: 10px;
	font-family: 'Noto Sans TC', sans-serif;
}

body{
	width: 80%;
	border: 0px;
	margin: auto;
	scroll-behavior: smooth;
  }

h1{
    font-size: 70px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.name_herf-class{
	color: #008cff;
  }

body {
	background-color: rgb(51, 51, 51);
	color: rgb(255, 255, 255);
}

input{
	width: 342px;
	height: 42px;
	border: none;
	outline: none;
	border-radius: 5px;
	box-shadow: 0 0 3px rgb(0, 132, 255);
  }

  input:focus{
	border-radius: 5px;
	border: 2px solid rgb(178, 246, 255);
  }


div{
	text-align: center;
}

button{
	width: 342px;
	height: 42px;
	outline: none;
	text-align: center;
	font-size: 30px;
	border-radius: 5px;
	border: none;
	background-color: rgb(0, 132, 255);
	transition: background-color 0.8s;
	box-shadow: 0 0 7px rgb(0, 217, 255);
}
button:hover {
	background-color: #00a2ff;
}

/*RawWeb*/
@media (min-width: 600px) {
	p {
		 font-size: 20px;
		}
	  }
	@media (min-width: 600px) {
		.c2, .c3, .c4, .c5 {
		  width: 50%;
		}
	  }
	  
	@media (min-width: 800px) {
		.c1 {
		  width: 60%;
		}
		.c2 {
		  width: 40%;
		}
		.c3, .c4 {
		  width: 33%;
		}
		.c5 {
		  width: 34%;
		}
	  }